@charset "UTF-8";

@font-face { 
	
	font-family: hanaCM;
	src: url('/hanacard-spring-mvc/resources/fonts/hana/HanaCM.ttf');

}

@font-face { 
	
	font-family: hanaB;
	src: url('/hanacard-spring-mvc/resources/fonts/hana/HanaB.ttf');

}

@font-face { 
	
	font-family: HanaL;
	src: url('/hanacard-spring-mvc/resources/fonts/hana/HanaL.ttf');

}

@font-face { 
	
	font-family: hanaM;
	src: url('/hanacard-spring-mvc/resources/fonts/hana/HanaM.ttf');

}

@font-face { 
	
	font-family: hanaUL;
	src: url('/hanacard-spring-mvc/resources/fonts/hana/HanaUL.ttf');

}


li {
	font-family: HanaUL;
	font-size: 22px;
}  



/*

* {
	
	font-family: HanaCM;
	font-size: 20px;
}

*/
